$bgcHeader:		   #ffffff !default;
$bgcContent:	   #e8e8e8 !default;

$cBlack:         #181a1c !default;
$cHalf:          #7d7d7d !default;
$cGray:          #8c8d8e !default;
$cGrayLight:     #313131 !default;
$cWhite:         #ffffff !default;
$cRed:           #fa293d !default;
$cMain:          #5cab7d !default;
$cSecond:        #ff5f2e !default;